@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col">
        <div>
            @Html.ActionLink("Formatos", "Index", "Formatoes")<br />
            @Html.ActionLink("Casettes", "Index", "Casettes") <br>
            @Html.ActionLink("Filtros", "Index", "Filtroes")<br />
            @Html.ActionLink("Videos", "Index", "Videos") <br>
            @Html.ActionLink("Usuario1", "Index", "Usuario1")<br />
        </div>
    </div>
   
</div>